@import "../../../../assets/ui-kit/_variables.scss";

.dataContainer {
  height: calc(70vh - 200px) !important;
  width: 99.8%;
}

.calloutDiv {
  padding: 7px 12px 12px 12px;
}

.emptyDiv {
  border-bottom: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
  position: relative;
  top: -16px;
  text-align: center;
  padding: 40px 0px 40px 0px;
  width: auto;
}

.subtitle {
  font-weight: $regular;
}

.subtitle1 {
  color: $gray;
}

.subtitleIcon {
  font-size: 16px;
  font-weight: $regular;
}
