@import "../../../assets/ui-kit/variables.scss";

.comments {
  border: none;
}

.inputContainer div {
  border: none;
}

.persona {
  width: 5% !important;
}

.container {
  background-color: $white-bg;
  padding: 10px;
}
