.picker {
  width: 100%;
}

.container {
  outline: transparent;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.pad40 {
  padding-right: 40px;
}

.textfield {
  width: 100%;
}

.itemtitle {
  padding-bottom: 5px;
}

.richTextDiv {
  width: 99%;
}

.warning {
  border: 1px solid red;
}

.joditHeight {
  height: 430px;
}

.padB {
  padding-bottom: 20px;
}
