@import '../../../../assets/ui-kit/_variables';

.headerContainer {
  width: 100%;
}

.header {
  padding: 10px;
  font-size: 15px;
  font-weight: $semiBold;
  background-color: $white-bg;
  border-bottom: 3px solid $purple-bg;
}

.iconWidth {
  width: 23px;
  padding-top: 0px;
}

.actionButton {
  color: $purple-bg;
  font-size: 14px;
}

.headertitle {
  font-size: 15px;
}

.helpIcon {
  float: right;
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.title {
  font-size: 15px;
  font-weight: $semiBold;
}

.titledesc {
  font-size: 12px;
}

.activityForm {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 20px;
}

.formTitle {
  font-size: 15px;
  font-weight: $semiBold;
  padding-bottom: 20px;
}

.fieldName {
  font-size: 14px;
  font-weight: $regular;
}

.textField {
  width: 350px;
}
.searchField {
  width: 480px;
}

.noteField {
  width: 100%;
}

table.tableContainer {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $gray-dark;
}

table.tableContainer th,
table.tableContainer td {
  border: 1px solid $gray-dark;
}

table.tableContainer th,
table.tableContainer td {
  height: 35px;
  padding-left: 8px;
}

table.tableContainer th.leftCol,
table.tableContainer td.leftCol {
  width: 190px;
}

table.tableContainer th.rightCol,
table.tableContainer td.rightCol {
  font-weight: $regular;
}

.groupTitle {
  font-weight: $semiBold;
}

.rightContainer {
  background-color: #fff;
  height: 100vh;
}

.myProfileDivPadding {
  padding: 5px 0px 5px 10px;
  :hover {
    background-color: $gray-lighter;
  }
}

.otherDivPadding {
  padding: 15px 0px 5px 10px;
  :hover {
    background-color: $gray-lighter !important;
  }
}
