@import '../../../../../assets/ui-kit/_variables';

.headerContainer {
  width: 100%;
}

.header {
  padding: 10px;
  font-size: 15px;
  font-weight: $semiBold;
  background-color: $white-bg;
  border-bottom: 3px solid $purple-bg;
}

.headertitle {
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;

  @media (max-width: $screen-desktop) {
    flex-direction: column;
  }
}

.col1 {
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  @media (max-width: $screen-desktop) {
    width: 100%;
  }
  margin-right: 10px;
}

.col2 {
  width: 130px;
  max-width: 130px;
  min-width: 130px;
  @media (max-width: $screen-desktop) {
    width: 100%;
  }
}

.buttom {
  margin-right: auto;
}

.form {
  width: 100%;
  margin-bottom: 12px;
}

.pad {
  padding: 30px 40px;
}

.headerTitle {
  font-size: 20px;
  font-weight: $semiBold;
}
.description1 {
  font-size: 11px;
  color: $gray-option;
}

.headerDesc {
  color: $gray-dark;
  font-size: 12px;
}

.btnGroup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 12px;

  button {
    margin-left: 10px;
  }
  @media (max-width: $screen-desktop) {
    justify-content: flex-start;
    button {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.buttom {
  padding: 0px;
  margin: 0px;
}

.required {
  margin-left: 10px;
  font-size: 11px;
  color: $gray;
  font-style: italic;
}

.yearHeader {
  text-align: center;
  top: -5px;
  position: relative;
}

.yearTitle {
  position: relative;
  top: -20px;
}
.dateValue {
  position: relative;
  font-size: 10px;
  color: $text-muted;
}

.elementContainer {
  border: 1px solid $gray-lighter;
  padding: 20px;
  margin-bottom: 20px;
}

.elementFlexContainer {
  display: flex;
  flex-direction: row;
}

.alignRight {
  margin-left: auto;
  position: relative;
  top: -17px;
}

.alignRight1 {
  margin-left: auto;
}

.textSize1 {
  width: 120px;
}
.textSize2 {
  width: 85px;
}

.row1 {
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  padding-bottom: 20px;
}
.rowLabel {
  font-size: 12px;
  margin-bottom: 6px;
}

.font10 {
  font-size: 10px;
  font-weight: $regular;
  padding-bottom: 5px;
}
.padTitle {
  margin-top: 16px;
  padding-bottom: 3px;
}
