@import "../../../../../assets/ui-kit/_variables";


.title {
  font-size: 18px;
  font-weight: $semiBold;
}

.titledesc {
  font-size: 12px;
}
.pads {
  padding: 40px;
}
.headerTitle{
  font-size: 20px;
  font-weight: $semiBold;
}
