@import "../../../assets/ui-kit/_variables.scss";

.headerContainer {
  width: 100%;
}

.header {
  padding: 10px;
  font-size: 15px;
  font-weight: $semiBold;
  background-color: $white-bg;
  border-bottom: 3px solid $purple-bg;
}

.iconWidth {
  width: 23px;
  padding-top: 0px;
}

.headertitle {
  font-size: 15px;
}

.headertitleButton {
  float: right !important;
  padding: 15px 0 3px;
  margin-right: 40px;
}

.container {
  display: flex;
  flex-direction: row;
}

.customWidth {
  width: 50% !important;

  @media (max-width: $screen-desktop) {
    width: 100% !important;
  }
}

.container {
  display: flex;
  flex-direction: row;

  @media (max-width: $screen-desktop) {
    flex-direction: column;
  }
}

.col1 {
  width: 25%;
  min-width: 160px;
  padding: 6px 0;
  display: flex;
  align-items: baseline;

  @media (max-width: $screen-desktop) {
    width: 100%;
  }
}

.col2 {
  width: 100%;
  max-width: 405px;
  position: relative;
  min-height: 32px;
  display: flex;
  align-items: flex-end;

  > * {
    width: 100%;
  }
}

hr.divider {
  position: relative;
  top: 0;
  left: -27px;
  width: 92%;
}

.form {
  width: 100%;
  margin-bottom: 12px;
}

.toggleHor {
  display: flex;
  flex-direction: row;
}

.formHeader {
  margin: 5px 0 12px;
}

.pad {
  padding: 20px;
}

.headerTitle {
  font-size: 20px;
  font-weight: $semiBold;
}

.description1 {
  font-size: 11px;
  color: $gray;
}

.container2 {
  background: blue;
  position: relative;
}

.container3 {
  color: $blue;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 2200000;
  font-size: 11px;
  cursor: pointer;
}

.customBtnupload {
  background-color: white;
  width: 150px;
  float: right;
  visibility: hidden;
}

.customBtn {
  background-color: #ffffff !important;
  width: 70px;
  border-color: black;
  color: #0b0b0b;
  border-radius: 5px;
  margin-top: 10px;
}

.customBtn:hover {
  background-color: $gray-light !important;
  border: 1px solid #ffffff !important;
  color: #0b0b0b !important;
  border-color: black;
}

.label {
  font-weight: $semiBold;
}

.customCol2 {
  margin-left: 12px;
}

.optional {
  margin-left: 10px;
  font-size: 11px;
  color: $gray;
}

.required {
  margin-left: 10px;
  font-size: 11px;
  color: $gray;
}
