@import "../../../../assets/ui-kit/_variables.scss";

.searchContainer {
  width: 100%;
  padding: 20px;
  border-right: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  background-color: $white-bg;
}
.search {
  border: none;
  width: 300px;
}
.dataContainer {
  height: calc(100vh - 249px);
  width: 99.8%;
}
.nameContainer {
  display: flex;
  justify-content: space-between;

  .studentName {
    font-size: $text-normal;
    display: flex;
    justify-content: flex-start;
  }

  .name {
    margin: 5px 0px 3px 10px;
  }
}

.roleName {
  width: 120px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.moreIcon {
  line-height: 30px;
}

.calloutContainer {
  padding: 10px;
}

.iconStyleWidth {
  width: 145px;
  background-color: $white-bg !important;
}

.btnPlain:active {
  background-color: $white-bg !important;
}

.labelColor {
  color: $font-color;
}

.spinner {
  width: 10px;
  margin-right: 10px;
}

.tableMargin {
  margin-top: 5px;
}
