@media screen and (max-width: 1440px) {
    .cardwith{
      width:250px;
      margin-bottom: 10px;
      cursor: pointer;
    }
}

.cardwith{
  width: 260px !important;
  margin-bottom: 10px;
  cursor: pointer;
 
}

.container{
  border-top: 1px solid #e7e7ee;
}