.badge {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-radius: 1em;
    padding: 0 .4em;
    margin-left: .3em;
    
    &.badge-primary {
        background-color: #6c35d4;
        color: #fff;
        font-weight: $semiBold;        
    }

    &.badge-oblong{
        padding: 0 .7em;
    }
}