// Custombreadcrumb

.headerBreadcrumbs {
    width: 100%;
    position: relative;
    border-bottom: 2px solid $primary-color;
}

.headerBreadcrumbsLeft,
.headerBreadcrumbsRight {
    display: inline-block;
}

.headerBreadcrumbsRight {
    float: right;
    .ms-FocusZone {
        background: transparent;
    }
    .ms-Button {
        background: transparent;
    } 
}

.headerBreadcrumbsLeft {
    .ms-FocusZone,
    .ms-Breadcrumb  {
        margin: 0;
    }
    .ms-TooltipHost {
        font-size: 14px;
        color: $primary-color;
    }
    
}