@import '../../../../../assets/ui-kit/_variables.scss';

.headerTitle {
  font-size: 20px;
  font-weight: $semiBold;
}

.customMargin {
  margin-top: 0px;
}
.headerDesc {
  font-size: $text-small;
  color: $gray-dark;
}
.pad {
  padding: 10px;
}
