@import "../../../../assets/ui-kit/_variables.scss";

$body-color: #fff;
$app-height: 100vh;

.emailContent {
  background-color: white;
  height: 80vh;
  position: relative;
  overflow-y: auto;
}

.headerIcon {
  padding: 4px 6px;
  background-color: $body-color;
  border-bottom: 1px solid $gray-lightest;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.marginR10 {
  margin-right: 10px;
}

.body {
  position: absolute;
  padding: 15px 20px;
  z-index: 9;
  width: 97%;
}

.newMessageScroll {
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.subject {
  font-size: $text-lg;
  font-weight: $semiBold;
  margin-bottom: 10px;
}

.important {
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid $gray-light;
  border-radius: 3px;
  font-weight: 400;
  font-size: $text-small;
  margin-bottom: 1px;
}

.iconImportant {
  margin-right: 20px;
}

.senderHeader {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.colPersona {
  padding: 15px 0;
}

.personaHolder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.emailFromContainer {
  margin-left: 15px;
}

.date {
  font-weight: $light;
}

.buttonHolder {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.mainMessage {
  border: 1px solid $gray-light;
  border-radius: 3px;
  padding: 15px 15px;
  background-color: $body-color;
}

.collapsableMessage {
  border: 1px solid $gray-light;
  border-radius: 3px;
  padding: 15px 15px;
  background-color: $body-color;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}

.attachments {
  padding: 10px 0px;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
}

.fileAttachments {
  display: flex;
  padding: 10px 0px;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
}

.attachmentsHidden {
  padding: 10px 0px;
}

.fileAttachmentsHidden {
  padding: 10px 0px;
}

.btnToggleAttachment {
  margin-bottom: 35px;
}

.fromContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.deleteBtn {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 25px;
  top: 105px;
  transition: color 0.1s linear;

  &:hover {
    color: #e23e57;
  }
}

.from {
  color: $gray-option;
  text-transform: uppercase;
}
.time {
  color: $gray-option;
}

.empty {
  color: $gray;
  padding-top: 200px;
  text-align: center;
}

.contentPlaceholder {
  align-items: center;
  position: relative;
  margin: 0 auto;

  .info {
    align-items: center;
    text-align: center;
    font-weight: $semiBold;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.editor {
  width: 99.5%;
  // padding: 1px 5px;
}

.ToCCBg {
  background-color: white;
}

.toCC {
  padding: 10px;
}

.addSubject {
  padding: 10px;
}

.toCCField {
  margin-left: 10px;
}

.colHeader {
  display: flex;
  flex-direction: row;
  &:hover {
    cursor: pointer;
  }
}

.colContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.imgAttach {
  position: relative;
  height: 110px;
  width: 180px;
  &:hover {
    .imgName {
      display: block;
    }
  }
}

.appAttach {
  position: relative;
  height: 100px;
  width: 180px;
  left: 8px;
  margin-bottom: -35px;
  &:hover {
    .imgName {
      display: block;
    }
  }
}

.nameAndBody {
  justify-content: space-between;
}

.colDate {
  position: relative;
  top: 18px;
}

.colDateItem {
  font-weight: $light;
}

.imgName {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0.4;
  color: $gray;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 149px;
  text-align: center;
  height: 40px;
}

.appName {
  position: absolute;
  top: 25%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #c8c6c4;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 155px;
  text-align: center;
  height: 40px;
}

.appBtnDownloadCustom {
  position: relative;
  color: black !important;
  background-color: transparent !important;
  top: 5%;
  height: 35px !important;
  width: 100%;
  &:hover {
    background-color: transparent !important;
  }
}

.btnDownloadCustom {
  position: relative;
  color: #fff !important;
  background-color: transparent !important;
  top: 5%;
  height: 35px !important;
  width: 100%;
  &:hover {
    background-color: transparent !important;
  }
}

.marginR10 {
  margin-right: 10px;
}

.appDiv {
  border: 1px solid lightgray;
  width: 200px;
  height: 50px;
  margin-left: 15px;
}

.appFileIcon {
  margin-top: 8px;
}