@import "../../../../assets/ui-kit/_variables.scss";

.callout {
  width: 180px;
  height: 100px;

  .listStyle {
    padding: 8px 20px !important;
    font-size: 12px;
    color: #ccc;
  }

  .listStyle:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
}

.calloutContainer {
  padding: 10px;
}

.title {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: $purple-bg;
  margin-bottom: 10px;
}

.selectedView {
  color: $purple-bg;
}

.btnCalendarToday {
  font-size: 12px;
  color: $purple-bg !important;
  font-weight: 500;
  background-color: #fff;
  border: none;
  outline: none;
  float: right;
  cursor: pointer;
}

.todayCalendarIcon {
  margin-right: 8px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.noEvent {
  margin-left: 34px;
  font-size: $text-small;
  color: $gray;
}
