.addNote {

    background-color: #ffffff;
}

.container{
    padding: 15px 10px 15px 0px;    
    border-top: 1px solid #e7e7ee;
    border-bottom: 1px solid #e7e7ee;
    background: transparent;
}

.headerFilter{
    font-weight: 500;
   
    
  }
  .cursor{
    cursor: pointer;
}

.listBg{
    background: white;
    height: 650px;
}