@import "../../../../assets/ui-kit/_variables.scss";

.imageList {
  height: 30px;
  width: 30px;
  padding-right: 4px;
}

.titleheader {
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-size: 12px;
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.container {
  outline: transparent;
  position: relative;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.FontIcon {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.border {
  border: 1px solid $lightgray-bg;
  outline: transparent;
  position: relative;

  box-sizing: border-box;
  display: flex;
  padding: 12px;
  width: 95%;
  background-color: $white-bg;
  border-radius: 3px;
}

.divwidthMore {
  max-width: 100px;
  flex-grow: 1;

  .card-default-body {
    display: flex;
    align-items: center;
  }
}

.quicklinkmore {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb10 {
  margin-bottom: 10px;
}

.divwidth {
  flex-grow: 2;
  color: inherit;
  &:hover,
  &:active:hover {
    text-decoration: none;
    color: inherit;
  }

  .card-default-body {
    display: flex;
    align-items: center;
  }
}

.cardQuicklinks {
  padding: 10px 15px;
  &:hover {
    background-color: $gray-lightest;
    transition: .2s;
  }
}

.quicklinkDiv {
  margin-right: 20px;
  width: 100%;
}