@import "../../../../assets/ui-kit/_variables";

// Header
.headerContainer {
  padding: 1px 10px;
  height: 40px;
  border-bottom: 3px solid $purple-bg;
  width: 100%;
  display: flex;
  background-color: $white-bg;

  .headerTitleContainer {
    height: 40px;
    width: 50%;
    display: flex;

    .iconWidth {
      width: 20px;
      line-height: 38px;
    }

    .headertitle {
      font-size: 15px;
      margin-top: 8px;
      font-weight: 600;
    }
  }

  .headerIconContainer {
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .helpIcon {
      margin-right: 20px;
      color: $purple-bg;

      .actionButton {
        color: $purple-bg;
        font-size: 14px;
      }
    }
  }
}
// Banner
.bannerContainer {
  height: 80px;
  width: 100%;
  background-color: $gray-bg;
  border-bottom: 1px solid $gray-lighter;
}

.dataContainer {
  background-color: $white-bg;
}

.title {
  font-size: 14px;
  font-weight: $semiBold;
}

.titledesc {
  font-size: 12px;
  color: $gray-dark;
}

.container {
  padding: 12px;
}

.btnCreate {
  text-align: right;
  margin-top: -33px;
  margin-left: -15px;
}

.btnManage {
  margin-left: -155px;
}

.listBg {
  height: auto;
}

@media screen and (max-width: 650px) {
  .subjectListCol,
  .btnCreate,
  .createClassCol {
    width: 100%;
  }
}